@import "variaveis";

// Obtém todo o componente
:host {
    background-color: #222;
    // Define que o componente será tela inteira
    position: absolute;
    // Tamanho real da tela
    width: 100vw;
    height: 100vh;
    // Definido para colocar a imagem encima e o botão embaixo
    flex-direction: column;

    .base {
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;

        img {
            width: 40%;
        }

        span {
            padding-bottom: 8%;
            color: $branco;
        }

        button {
            // Para tamanho de fonte usar a medida de tamanho rem
            font-size: 1.5rem;
            min-width: 200px;
            padding: 20px;
            border-radius: 500px;
            background-color: $cor-primaria;
            color: white;
            border: 0;
            // Define que ao passar o mouse encima o ponteiro vira uma maozinha
            cursor: pointer;
        }
    }
}
