<div class="container card p-10">
    <!-- Coloca uma imagem dentro de uma div -->
    <div class="image" [style.background-image]="'url(' + musica.album.imagemUrl + ')'"></div>

    <div class="controles">
        <span> {{musica.titulo}} </span>
        <div class="botoes">
            <fa-icon [icon]="iconeAnterior" (click)="voltarMusica()"></fa-icon>
            <fa-icon class="botao-player" [icon]="iconePlayer" (click)="definirEstadoMusica()"></fa-icon>
            <fa-icon [icon]="iconeProximo" (click)="pularMusica()"></fa-icon>
        </div>
    </div>
</div>
