@import 'variaveis';

.container {
    height: 100%;
    width: 100%;
    max-width: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .image {
        height: 65%;
        // Imagem ficará encima
        background-position: top;
        background-size: cover;
        // Imagem não irá repetir
        background-repeat: no-repeat;
    }

    .controles {
        padding: 10px;
        background-color: $preto-transparent-80;
        // Faz ocupar todo o espaço disponível
        flex-grow: 1;
        color: $branco;

        span {
            font-size: .9rem;
            font-weight: bold;
            // Não deixa fazer a quebra de linha
            white-space: nowrap;
            // Esconde o que passar do tamanho
            overflow: hidden;
            // Coloca os 3 pontinhos para indicar que o texto continua
            text-overflow: ellipsis;
        }

        .botoes {
            width: 100%;
            height: 100%;
            display: flex;
            // Coloca a mesma quantidade de espaço entre os botões
            justify-content: space-evenly;
            align-items: center;
            //color: rgba($cor-primaria, .6);
            color: $verde-claro;

            // Define somente para a classe botoes
            * {
                cursor: pointer;
                font-size: 1.8rem;
            }
        }
    }

}
